<!DOCTYPE html>
<html lang="lv-LV">

<head>
    <title>Start(it)</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/custom.css" media="screen" title="no title" charset="utf-8">
    <link rel="icon" href="../images\Start(IT)SmallLogo.png">

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html"><img src="../images\Start(IT)Logo.png" alt="Start(IT)"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="../index.html">Sākums<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pirmā diena
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">GIT</a></li>
                            <li><a href="#">VSCode</a></li>
                            <li><a href="#">Agile/Scrum</a></li>
                            <li class="active"><a href="#">HTML tags</a></li>
                            <li><a href="#">CSS Selektori</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Plain JavaScript</a></li>
                    <li><a href="#">JavaScript + DOM</a></li>
                    <li><a href="#">Mācību Metodoloģija</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            </div>
            
    </nav>
    <div id="wrap" class="margin-top">
        <div id="main">
            <h1 class="text-center">HTML elementi</h1>
            <p class="center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen 
                book. It has survived not only five centuries, but also the leap into electronic 
                typesetting, remaining essentially unchanged. It was popularised in the 1960s with 
                the release of Letraset sheets containing Lorem Ipsum passages, and more recently 
                with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p>
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas 
                nulla pariatur?"
            </p>
            <p class="text-center">
                Šodien mēs iepazinamies ar HTML elementiem.</p>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <p>Mēs jau paspējam apskatīt:<br>
                            <ul>
                                    <li>konteiners</li>
                                    <li>virsraksts</li>
                                    <li>rindkopa</li>
                                </ul>
                    </p>
                </div>
                <div class="col-xs-4">
                Tagad vēl apskatīsim:
                <ol>
                    <li>nenumurēts saraksts "< ol>"</li>
                    <li>saraksta objekts "< li>"</li>
                    <li>attēls "< img>"</li>
                    <img src="../images/Start(IT)Logo.png" alt="Start(it)" width=104>
                    <li>Poga "< button>"</li>
                    <button>uzspied!</button>
                </ol>
                </div>
                <div class="col-xs-2"></div>
            </div>
            <p class="text-center">
                Vairāk info var atrast
                <a href=https://www.w3schools.com/html/default.asp>w3schools </a>majaslapā!
            </p>
            <p>
            <a class="navbar-brand" href="../index.html"><img src="../images\Start(IT)Logo.png" alt="Start(IT)"></a>
            </p>
                <h1>Start(It) apmācību plāns 1.dienai</h1>
                <p>
                Parādīsim tabulā informāciju par to, kāds ir bijis šodienas grafiks.<br>
               Veidosim tabulu, lai iepazītos ar to, kā mēs varam izveidot tabulu. <br>
               Galvenie punkti, kas šodien apskatīti:
               <ol>
                   <li>Projektu izstrādes metodoloģijas</li>
                   <li>GIT</li>
                   <li>VS Code</li>
               </ol>

            </p>
        </div>
    </div>

    
</body>

<footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
    <div class="copyrights">
        <p>Start(IT) © 2019
            <br>
            <span>Izstrādātājs: Komanda xxx</span>
            <br>
            <span>Īpašnieks: Start(IT)</span>
            <br>
            <span>VEF Kultūras pils</span>
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="javaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="javaScript/custom.js"></script>

</html>